<nav>
    <p style="text-align: left; width:49%; display: inline-block;">
        {% if page.previous.url %}
        <a class="previous-post" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo;
            {{page.previous.title}}</a>
        {% endif %}
    </p>
    <p style="text-align: right; width:50%; display: inline-block;">
        {% if page.next.url %}
        <a class="next-post" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}}
            &raquo;</a>
        {% endif %}
    </p>
</nav>

<footer id="footer" class="site-footer">
    <div class="inner">
        <div class="copyright">
            {% if site.copyright %}
            {{ site.copyright | markdownify }}
            {% else %}
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}.</p>
            {% endif %}
        </div>
    </div>
</footer>