<!-- inspired by https://discourse.gohugo.io/t/filenames-for-code-blocks/32466/3 -->

{{ $title := .Get "title" }}
{{ $lang := .Get "lang" }}
{{ $linenostart := .Get "linenostart" | default 1 }}
{{ $options :=  print "linenos=true,linenostart=" $linenostart }}
{{ $input := (trim .Inner "\n\r") }}
  <div class="flex rounded-md border border-primary-400 px-1 text-xs font-normal text-primary-700 dark:border-primary-600 dark:text-primary-400">
      <div class="flex-1">{{ $title }}</div>
      <div class="flex-2 text-right"><a href="{{ .Get "url" }}">{{ .Get "linktext" }}</a></div>
  </div>
{{ highlight $input $lang $options }}
