<!-- inspired by https://discourse.gohugo.io/t/filenames-for-code-blocks/32466/3 -->

{{ $title := .Get "title" }}
{{ $lang := .Get "lang" }}
{{ $linenostart := .Get "linenostart" | default 1 }}
{{ $options :=  print "linenos=table,linenostart=" $linenostart }}
{{ $input := (trim .Inner "\n\r") }}
  <div class="flex rounded-md border border-primary-400 px-1 text-xs font-normal text-primary-700 dark:border-primary-600 dark:text-primary-400">
{{ with .Get "title" }}
  <div class="flex-1">{{ $title }}</div>
{{ end}}
{{ with .Get "url" }}
  <div class="flex-1 text-right"><a href="{{ .Get "url" }}">{{ .Get "linktext" }}</a></div>
{{ end }}
  </div>
{{ highlight $input $lang $options }}
