<!-- Based on the codecaption shortcode by
   Parsia Hakimian https://github.com/parsiya/Hugo-Shortcodes -->

     <figure class="code">
        <figcaption>
            <span>{{ .Get "title" }} <a href="{{ .Get "url" }}">{{ .Get "linktext" }}</a></span>
        </figcaption>
        <div class="codewrapper">
          {{ $options := printf "linenos=true,linenostart=%d" (.Get "linenostart" | default 1) }}
          {{ highlight (trim .Inner "\n\r") (.Get "lang") $options }}
        </div>
      </figure>